[submodule "lib/cmsis_core"]
	path = lib/cmsis_core
	url = https://github.com/STMicroelectronics/cmsis-core
	branch = cm7
[submodule "lib/cmsis_device_f7"]
	path = lib/cmsis_device_f7
	url = https://github.com/STMicroelectronics/cmsis_device_f7
[submodule "lib/stm32f7xx_hal_driver"]
	path = lib/stm32f7xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f7xx_hal_driver
[submodule "lib/coremark"]
	path = lib/coremark
	url = https://github.com/eembc/coremark
[submodule "lib/threadx"]
	path = lib/threadx
	url = https://github.com/eclipse-threadx/threadx
[submodule "lib/filex"]
	path = lib/filex
	url = https://github.com/eclipse-threadx/filex
[submodule "lib/levelx"]
	path = lib/levelx
	url = https://github.com/eclipse-threadx/levelx
[submodule "lib/ov5640"]
	path = lib/ov5640
	url = https://github.com/STMicroelectronics/stm32-ov5640
